.heading-line {
  line-height: 1;
  display: inline-block;
  position: relative;
}

.heading-line {
  /* set the color of the text to transparent */
  color: transparent;

  /* we need to clip the gradient background so that
    so only the text bit will have the gradient background */
  -webkit-background-clip: text;
  background-clip: text;
}

.heading-line-first {
  background-image: linear-gradient(to left, #ed8936, #ed64a6);
}

.heading-line-second {
  background-image: linear-gradient(to left, #38b2ac, #0bc5ea);
}

.heading-line-third {
  background-image: linear-gradient(to left, #ecc94b, #48bb78);
}

/* move these style from .heading-line 
   to .heading-line-gradient */
.heading-line-gradient {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* move this from .heading-line-first */
.heading-line-first > .heading-line-gradient {
  background-image: linear-gradient(to left, #ed8936, #ed64a6);
}

/* move this from .heading-line-second */
.heading-line-second > .heading-line-gradient {
  background-image: linear-gradient(to left, #38b2ac, #0bc5ea);
}

/* move this from .heading-line-third */
.heading-line-third > .heading-line-gradient {
  background-image: linear-gradient(to left, #ecc94b, #48bb78);
}

/* white text underneath the gradient text */
.heading-line::before {
  line-height: 1;
  display: inline;
  position: absolute;
  color: #fff;
  pointer-events: none;
  width: 100%;
}

.heading-line-first::before {
  content: "Andrew.";
}

.heading-line-second::before {
  content: "Software";
}

.heading-line-third::before {
  content: "Developer";
}

/* 1st heading gradient */
@keyframes first_heading_gradient {
  0%,
  16.667% {
    opacity: 1;
  }

  33.333%,
  83.333% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 1st heading white text */
@keyframes first_heading_white_text {
  0%,
  16.667% {
    opacity: 0;
  }

  25%,
  91.667% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes second_heading_gradient {
  0%,
  16.667% {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }

  66.667%,
  100% {
    opacity: 0;
  }
}

@keyframes second_heading_white_text {
  0%,
  25% {
    opacity: 1;
  }

  33.333%,
  50% {
    opacity: 0;
  }

  58.333%,
  100% {
    opacity: 1;
  }
}

@keyframes third_heading_gradient {
  0%,
  50% {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes third_heading_white_text {
  0%,
  58.333% {
    opacity: 1;
  }

  66.667%,
  83.333% {
    opacity: 0;
  }

  91.667%,
  100% {
    opacity: 1;
  }
}

.heading-line-first > .heading-line-gradient {
  /* ... */
  animation: first_heading_gradient 8s infinite;
}

.heading-line-second > .heading-line-gradient {
  /* ... */
  animation: second_heading_gradient 8s infinite;
}

.heading-line-third > .heading-line-gradient {
  /* ... */
  animation: third_heading_gradient 8s infinite;
}
