@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Taviraj:ital,wght@0,200;0,400;0,600;1,300;1,600&family=VT323&display=swap");

@layer components {
  body {
    @apply text-main_black bg-main_white dark:bg-main_black dark:text-main_white font-main_font;
  }

  .theme-toggle {
    @apply cursor-pointer text-light_theme_blue dark:text-dark_theme_cyan my-6 p-3 rounded-lg hover:shadow-md hover:shadow-slate-400 dark:hover:bg-dark_theme_elevated_3 dark:hover:shadow-none;
  }

  .sections {
    @apply pt-20 min-h-screen;
  }

  .nav-large {
    @apply z-10 h-screen fixed top-0 left-0 w-24 shadow-2xl bg-main_white dark:bg-nav_bar_bg;
  }

  .nav-small {
    @apply fixed right-0 w-full h-16 bg-main_white dark:bg-nav_bar_bg shadow-lg z-10;
  }

  .icon-container {
    @apply flex flex-col text-main_black dark:text-main_white hover:cursor-pointer;
  }

  .icon-container-md {
    @apply flex flex-col w-20 text-center text-main_black dark:text-main_white hover:cursor-pointer ;
  }

  .sidebar-icon {
    @apply self-center place-self-center justify-self-center;
  }

  .icon-active {
    @apply text-light_theme_blue dark:text-dark_theme_cyan;
  }

  .icon-active-md {
    @apply text-light_theme_blue dark:text-dark_theme_cyan;
  }

  .mobile-nav-active {
    @apply font-bold text-light_theme_blue  dark:text-dark_theme_cyan;
  }

  .contact-form {
    @apply outline-none focus:outline-none border-light_theme_blue dark:border-b-dark_theme_cyan focus:border-light_theme_blue dark:focus:border-dark_theme_cyan dark:bg-main_black;
  }

  .custom-btn {
    @apply border border-light_theme_blue dark:border-dark_theme_cyan  px-2 py-1 font-bold  hover:bg-light_theme_blue dark:hover:bg-dark_theme_cyan text-light_theme_blue dark:text-dark_theme_cyan hover:text-main_white dark:hover:text-main_black transition-all duration-200 ease-linear active:scale-75;
  }

  .github {
    @apply hover:cursor-pointer hover:scale-110
    transition-all ease-in duration-100;
  }

  .linkedin {
    @apply text-linkedIn_color;
  }

  .stackof {
    @apply text-stackOF_color;
  }

  .resume-btn {
    @apply border border-light_theme_blue dark:border-dark_theme_cyan  px-2 py-1 font-bold  hover:bg-light_theme_blue dark:hover:bg-dark_theme_cyan text-light_theme_blue dark:text-dark_theme_cyan hover:text-main_white dark:hover:text-main_black transition-all duration-200 ease-linear active:scale-75;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

body {
  padding-left: 6rem;
}

button {
  border-style: outset !important;
}

.skill-icons {
  width: 95px;
  font-size: 14px;
  font-family: "Source Code Pro";
}

.project-details-container {
  min-height: 375px;
}

.project-details-content {
  max-width: 75%;
}

.font-dev {
  font-family: "VT323";
}

.title-text {
  font-size: calc(2.5rem + 2vw);
  line-height: 1.2;
}

.p-text {
  font-size: calc(1rem + 1vw);
  line-height: 1.4;
}

@media only screen and (max-width: 650px) {
  .title-text {
    font-size: calc(1.5rem + 2vw);
  }
}

@media screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}

.message-placeholder {
  height: 200px;
  padding: 20px;
}

.icon-container::after {
  position: relative;
  top: -30px;
  opacity: 0;
  visibility: hidden;
  font-size: 1rem;
  font-weight: 700;
  transition: all ease-in-out 0.3s;
}

.icon-container:hover::after {
  opacity: 1;
  visibility: visible;
  top: 0px;
  cursor: pointer;
}

.icon-active::after {
  position: relative;
  top: 0px;
  opacity: 1;
  visibility: visible;
  font-size: 1rem;
  font-weight: 700;
  transition: all ease-in-out 0.3s;
}

.home::after {
  content: "Home";
}

.about::after {
  content: "About";
}

.projects::after {
  content: "Projects";
}
.contact::after {
  content: "Contact";
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #565656;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}
