@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Inter:wght@400;900&family=Montserrat&family=Roboto:ital,wght@0,100;1,100&family=Staatliches&display=swap");

@layer components {
  body {
    @apply text-main_white overflow-x-hidden antialiased;
  }

  .heading-line {
    @apply text-transparent relative inline-block bg-clip-text;
  }

  .heading-line-first {
    @apply bg-gradient-to-l;
  }

  .sections {
    @apply lg:ml-32 pt-16 md:pt-24 min-h-screen text-center lg:text-left mx-5;
  }

  .nav-small {
    @apply fixed top-0 right-0 w-full z-30 flex flex-col items-center justify-between gap-4 mx-3;
  }

  .contact-section {
    @apply overflow-y-hidden;
  }

  .icon-container {
    @apply flex flex-col hover:cursor-pointer;
  }

  .icon-container-md {
    @apply flex flex-col w-20 text-center hover:cursor-pointer;
  }

  .sidebar-icon {
    @apply self-center place-self-center justify-self-center;
  }

  .icon-active {
    @apply text-main_white;
  }

  .icon-active-md {
    @apply text-main_white;
  }

  .contact-form {
    @apply outline-none focus:outline-none border-main_white dark:border-b-dark_theme_cyan focus:border-main_white dark:focus:border-dark_theme_cyan dark:bg-main_black;
  }

  .custom-btn {
    @apply border border-theme_green px-4 py-1.5 font-medium text-lg rounded-sm   text-theme_green  hover:bg-theme_green hover:text-main_black transition-all duration-200 ease-linear active:scale-75 inline;
  }

  .custom-btn-contact {
    @apply border border-main_white text-main_white px-4 py-1.5 text-lg rounded-sm hover:bg-main_white hover:text-main_black transition-all duration-200 ease-linear active:scale-75 inline z-50 relative;
  }

  .github {
    @apply hover:cursor-pointer hover:scale-110
    transition-all ease-in duration-100;
  }

  .linkedin {
    @apply text-linkedIn_color;
  }

  .stackof {
    @apply text-stackOF_color;
  }

  .heading-line {
    @apply text-4xl xsm:text-6xl md:text-8xl font-black subpixel-antialiased;
  }
}

body {

  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(48, 48, 48) 78.9%
  ); /* fallback for old browsers */
  background-color: black;
}

.project-link:hover {
  transform: translate(-0.5rem, -0.5ex);
}

.about-img {
  --b: 3px; /* border thickness*/
  --s: 125px; /* size of the corner*/
  --g: 10px; /* the gap*/
  --c: #ed8936;

  padding: calc(var(--b) + var(--g));
  background-image: conic-gradient(
      from 90deg at top var(--b) left var(--b),
      #0000 25%,
      var(--c) 0
    ),
    conic-gradient(
      from -90deg at bottom var(--b) right var(--b),
      #0000 25%,
      var(--c) 0
    );
  background-position: var(--_p, 0%) var(--_p, 0%),
    calc(100% - var(--_p, 0%)) calc(100% - var(--_p, 0%));
  background-size: var(--s) var(--s);
  background-repeat: no-repeat;
  transition: background-position 0.3s var(--_i, 0.3s),
    background-size 0.3s calc(0.3s - var(--_i, 0.3s));
}

img.alt {
  background-image: conic-gradient(
      from 180deg at top var(--b) right var(--b),
      #0000 25%,
      var(--c) 0
    ),
    conic-gradient(
      from 0deg at bottom var(--b) left var(--b),
      #0000 25%,
      var(--c) 0
    );
  background-position: calc(100% - var(--_p, 0%)) var(--_p, 0%),
    var(--_p, 0%) calc(100% - var(--_p, 0%));
}

.home-active-nav {
  background-image: linear-gradient(
    to left,
    #ed8936,
    #ed64a6,
    #8360c3,
    #2ebf91,
    #ecc94b,
    #48bb78
  );

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.about-active-nav {
  background-image: linear-gradient(to left, #ed8936, #ed64a6);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.projects-active-nav {
  background-image: linear-gradient(to left, #8360c3, #2ebf91);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.contact-active-nav {
  background-image: linear-gradient(to left, #ecc94b, #48bb78);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.btn-gradient-1 {
  background-color: linear-gradient(to left, #ed8936, #ed64a6);
}

.btn-gradient-2 {
  background-color: linear-gradient(to left, #8360c3, #2ebf91);
}
.btn-gradient-3 {
  background-color: linear-gradient(to left, #ecc94b, #48bb78);
}

.gradient-title-about {
  background-image: linear-gradient(to left, #ed8936, #ed64a6);
  color: transparent;
  background-clip: text;
}

.gradient-title-projects {
  background-image: linear-gradient(to left, #8360c3, #2ebf91);
  color: transparent;
  background-clip: text;
}

.gradient-title-contact {
  background-image: linear-gradient(to left, #ecc94b, #48bb78);
  color: transparent;
  background-clip: text;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-style: outset;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #565656;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
